@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
  /* outline-color: #287c61; */
}
html {
  font-family: "Nunito", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}
.hidden {
  display: none !important;
}
